body {
    color: #039;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  
}

header {
    padding: 18px;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0;
    padding: 18px;
}
li {
    margin-bottom: 12px;
    color: #039;
    cursor: pointer;
}

li:hover {
    color: #08F;
}


/*svg parent*/

.wrap {
    fill: currentColor;
}


.wrap.disabled {
    color: lightslategray;
    cursor: text;
}

svg.icon {
    position: relative;
    margin-right: 12px;
}

svg.icon.small {
    width: 16px;
    height: 16px;
}

svg.icon.regular {
    width: 24px;
    height: 24px;
}

svg.icon.medium {
    width: 36px;
    height: 36px;
}

svg.icon.large {
    width: 48px;
    height: 48px;
}

svg.icon.big {
    width: 60px;
    height: 60px;
}


.action, .object, .notification {
    font-size: 14px;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    position: relative;  
    top: -7px;
}

/*.object {
    font-size: 16px;
    font-weight: 400;
    position: relative;  
    top: -13px;
}

.notification {
    font-size: 14px;
    font-weight: 400;
    position: relative;  
    top: -6px;
}*/

/* 
Only Firefox can target shadow root paths with classes (below), 
ergo I shall remove classes from paths to avoid different
browsers behaviors. Remember to change Illustrator workflow too.

I can then apply a fill attribute to the path whose colour 
we want to be persistent.


.element {
    fill: #09f;
}

.specifier {
    fill: #09f;
}

*/