body {
  color: #001;
  background-color: rgba(0, 0, 17, 0.03);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 40px;
  }

main {
  display: flex;
  }

ul {
  list-style-type: none;
  }
  
li {
    position: relative;
    padding-right: 24px;
    color: #039;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    line-height: 24px;
    display: flex;
    align-content: center;
    height: 48px;
    }

li:hover {
    color: #08F;
    }    

li.new::before {
  color: rgb(127, 127, 127);
  content: "☞";
  font-weight: 900;
  font-size: 48px;
  position: absolute;
  left: -42px;
  top: -6px;;
}

svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-right: 12px;
  position: relative;
  }
  
.orange {
    color: #F80;
}

.light-blue {
    color: #08F;
}

.green {
    color: #0A0;
}

.red {
    color: #C00;
}

.off  {
  fill: none;
}